[submodule "distributed_systems_assignment1"]
	path = distributed_systems_assignment1
	url = https://github.com/prashanth-thipparthi/distributed_systems_assignment1.git
[submodule "fault_tolerant_queue"]
	path = fault_tolerant_queue
	url = https://github.com/prashanth-thipparthi/fault_tolerant_queue.git
[submodule "fault_tolerant_queue_with_server_failures"]
	path = fault_tolerant_queue_with_server_failures
	url = https://github.com/prashanth-thipparthi/fault_tolerant_queue_with_server_failures.git
[submodule "distributed_systems_project"]
	path = distributed_systems_project
	url = https://github.com/prashanth-thipparthi/distributed_systems_project.git
